.nav-section {
    position: relative;

    @media screen and (max-width: $media-query-small) {
        width: 100%;
        background: rgba($color: $background, $alpha: 0.9);

    }

    &__list {
        @include flex(row, center, center);
        gap: 10px;
        flex-wrap: wrap;
        list-style: none;
        border-radius: 0 0 25px 25px;
        overflow: hidden;
        animation: openNav 0.3s linear forwards;
        padding: 10px;


        @media screen and (min-width: $media-query-medium) {
            gap: 10px;
            box-shadow: none;
            border-radius: 0;
            animation: none;
        }
    }

    &__item {
        @include flex(row, center, center);

        @media screen and (max-width: $media-query-small) {
            width: 150px;
        }
    }

    &__link {
        @include flex(column, center, center);
        min-width: 70px;
        padding: 5px 10px;
        height: 30px;
        border-radius: 25px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0 1px 2px 0px $primary-color;
        }

        &.active {
            border-bottom: 1px solid $primary-color;
            box-shadow: 0 0px 3px 0px $primary-color;
        }
    }

}

@keyframes openNav {
    0% {
        width: 0;
        height: 0;
        padding: 0;
    }

    50% {
        width: 100%;
        height: 0;
        padding: 0;
    }

    100% {
        width: 100%;
        height: 100px;
        padding: 5px;
        box-shadow: 0 3px 3px 0px $primary-color;
    }
}