.contact__page {
    width: 100%;

    & > section {
        margin-top: 0;
        padding: 45px 140px;

        @media screen and (max-width: 768px) {
            padding: 45px 60px;
        }

        @media screen and (max-width: 480px) {
            padding: 45px 20px;
        }

        & > picture {
            top: 0;
        }
    }
}