.projets {
    &__list {
        @include flex(column, center, flex-start);
        position: relative;
        gap: 20px;
        width: 100%;
        padding: 40px 140px;

        @media screen and (max-width: 1024px) {
            padding: 40px 40px;
        }

        @media screen and (max-width: 768px) {
            padding: 40px 20px;
        }

        @media screen and (max-width: 480px) {
            padding: 20px 0px;
        }
    }

    &__item {
        width: 100%;
        position: sticky;
        top: 9rem;

        @media screen and (max-width: $media-query-medium) {
            top: 6rem;
        }

        @media screen and (max-width: $media-query-small) {
            top: 5rem;
        }
    }
}