.contact-form {
    @include flex(column, center, center);
    width: 100%;
    padding: 0px 40px;

    &__wrapper {
        @include flex(row, flex-start, flex-end);

        width: 100%;
        padding: 24px 0;
        border-bottom: 1px solid $primary-color;

        &:focus-within {
            & > input::placeholder, textarea::placeholder {
                color: #fff;
                
            }
        }
    }

    &__label {
        width: 40px;
        height: 40px;
        @include flex(row, center, center);
    }

    &__input {
        color: #fff;
        width: 100%;
        height: max-content;
        margin-left: 16px;
        padding-left: 5px;
        background: none;
        border: none;
        line-height: 30px;
        resize: none;
         @include font-description;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        margin-top: 60px;
        margin-bottom: 11px
    }
}