.contact-form {
    @include flex(column, center, center);
    width: 100%;
    padding: 0px 40px;

    &__wrapper {
        @include flex(row, flex-start, flex-start);

        width: 100%;
        padding: 24px 0;
        border-bottom: 1px solid $primary-color;

        &:focus-within {
            & > input::placeholder, textarea::placeholder {
                color: #fff;
                
            }
        }
    }

    &__input {
        color: #fff;
        width: 100%;
        height: auto;
        margin-left: 16px;
        padding-left: 5px;
        background: none;
        border: none;
        line-height: 30px;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    &__btn {
        margin-top: 60px;
        margin-bottom: 11px
    }
}