// @import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

* {
    font-family: "roboto", sans-serif;
    line-height: 125%;
    letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
a {
    font-weight: 500;
}

.section-title {
    @include font-section-title;
}

.header {
    &__logo {
        font-family: "Alex Brush", cursive;
        font-size: 64px;
        font-weight: 700;

        @media screen and (max-width: 768px) {
            font-size: 48px;
        }
    }
}

.nav-section {
    &__link {
        font-size: 20px;
        color: #fff;
        text-decoration: none;

        @media screen and (max-width: 768px) {
            font-size: 16px;
        }
    }
}

.hero {
    &__title {
        font-size: 64px;
        line-height: 64px;
        font-weight: 700;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            font-size: 42px;
            line-height: 42px;
        }

        @media screen and (max-width: 480px) {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &__sub-title {
        font-size: 48px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #d9d9d9;

        @media screen and (max-width: 768px) {
            font-size: 32px;
        }

        @media screen and (max-width: 480px) {
            font-size: 24px;
        }
    }
}

.section {
    &__title {
        @include font-section-title;
    }

    &__sub-title {
        @include font-section-sub-title-darken;
    }
}

.projet-card {
    &__title {
        font-size: 32px;
        font-weight: 700;
        color: #fff;
    }

    &__description {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        opacity: 0.4;
    }

    &__category {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
        text-align: center;
    }
}

.projet-page {
    &__title {
        @include font-section-title;
    }

    &__subTitle {
        @include font-section-sub-title;
    }

    &__description {
        font-size: 24px;
        font-weight: 500;
        color: #fff;
        opacity: 0.6;
    }
}

.services__title,
.skills__title,
.timeline__title {
    @include font-section-sub-title;
}