// Définition des variables de couleur
$primary-color: #6FBBF4; // Couleur principale
$primary-color-ligth: #B8E0FF; // Couleur principale
$secondary-color: #1D6FAB; // Couleur secondaire
$accent-color: #e74c3c; // Couleur d'accentuation
$text-color: #222; // Couleur du texte
$color-grey: #ccc; // Couleur grise
$color-light: #F8F3E8; // Couleur claire


$background: #111111;

// Définition des variables pour la typographie
$base-font-size: 16px;
$heading-font-size: 24px;
$theme-color-text-primary: #34495e; // title
$theme-color-text-secondary: #f26405; // subtitle

/* global */

$header-height: 90px;
$footer-height: 90px;
$sideNav-height: 27px;

$color-bg-primary: #000;
$color-bg-secondary: #252525;
$color-bg-tertiary: #555561;
$bg-linear-gradient: linear-gradient(90deg, $primary-color, #1D6FAB);
$background-radial: radial-gradient( circle farthest-corner at 50% 50%,  rgba($primary-color,0.5) 10%, rgba(255,255,255,0.1) 100% );
$background-radial-hover: radial-gradient( circle farthest-corner at 50% 50%,  rgba($primary-color,0.7) 8.3%, rgba(0,07,0,1) 100.4% );
$background-radial-active: radial-gradient( circle farthest-corner at 50% 50%,  $primary-color 8.3%, rgba(0,07,0,1) 100.4% );